<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head.ejs') %>
<body>
    <%- include('../partials/header.ejs') %>

    <main>
        <h4>welcome back, <%= username %></h4>

        <a href="/logout"><button>Logout</button></a>
        <a href="/animals/new"><button>add new animal</button></a>

        <% for (animal of animals) { %>
            <article>
                <a href="/animals/<%= animal._id %>">
                    <h3>
                        <%= animal.species %>
                    </h3>
                </a>
            </article>
        <% } %>
    </main>

</body>
</html>